@import "reset";

body {
    background: #333;
}

#drup_area {
    position: relative;
    margin: 100px;
    border: 2px dashed #ddd;
    border-radius: 10px;
    width: 400px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

    &.m_over {
        background: rgb(70, 70, 70);
    }

    .hint {
        position: relative;
        width: 140px;
        height: 80px;
        font: normal 16px/20px arial;
        color: #ddd;
        text-align: center;
        background: #676767;
        padding: 0 20px;
        border-radius: 6px;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    input {
        position: absolute;
        visibility: hidden;
    }
}

.b_result_area {
    position: relative;
    // width: 800px;
    width: calc(100% - 200px);
    margin: 0 0 100px 100px;
    border: 2px dashed #ddd;
    border-radius: 10px;
    padding: 20px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;

    &.m_show {
        display: block;
        opacity: 1;
    }

    &-item {
        display: inline-flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        background: #676767;
        padding: 10px 20px;
        border-radius: 6px;
        margin-bottom: 10px;

        &.m_loading {

            .item-image {
                background: #676767 url(../img/loader.svg) no-repeat 50% 50%;
                background-size: 50px 50px;
            }

        }

        &-image {
            display: inline-flex;
            width: 140px;
            height: 80px;
            align-items: center;
            justify-content: center;
            // outline: 1px solid #ddd;
            margin-right: 20px;
            background: #333;

            img {
                display: block;
                max-width: 100%;
                max-height: 100%;
            }
        }
        &-info {
            display: inline-flex;
            flex-flow: column;
            max-width: 240px;

            p {
                font: normal 16px/20px arial;
                color: #ddd;
                margin-bottom: 5px;
                word-break: break-word;
            }
        }

        &-control {
            width: 140px;
            margin: 0 20px;
        }
    }
}

.b_croparea {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;


    &.m_show {
        // z-index: 100;
        // opacity: 1;
    }

    &-title {
        font: bold 12px/14px arial;
        color: #ddd;
        padding: 5px 0;
    }

    &-item {
        position: relative;
        display: inline-flex;
        width: 100%;
        max-height: 140px;
        flex-flow: column;
        align-items: center;
        background: #333;
        // margin-bottom: 20px;

        .ratio {
            position: absolute;
            z-index: 20;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(0,0,0,.3);
            font: bold 20px/1 arial;
            color: #ddd;
            letter-spacing: 0.15em;
            cursor: pointer;

            display: none;

            span {
                background: #000;
                padding: 2px 3px;
            }
        }
        img {
            display: block;
            max-width: 100%;
            max-height: 140px;
            opacity: .2;
        }

    }
}


#_id_crop_area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    .image_place {
        position: relative;

        outline: 1px solid #555;
        background: #222;
        display: block;

        img {
            display: block;
            max-width: 600px;
            max-height: 600px;
            opacity: 0.3
        }
    }
}

// cropping area js
.s_croppingarea {
    position: relative;
    display: block;
    max-width: 100%;
    max-height: 100%;

    .clip {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-position: 50% 50%;
        background-size: 100%;
    }
    .wrapper {
        position: absolute;
        z-index: 2;
        border: 1px dashed #f00;
        cursor: move;

        .dot {
            position: absolute;
            width: 10px;
            height: 10px;
            background: rgba(0,0,0,.5);
            border: 1px solid #ddd;
            // display: none;


            &.point1 {
                top: -5px;
                left: -5px;
                cursor: nwse-resize;
            }
            &.point2 {
                top: -5px;
                right: -5px;
                cursor: nesw-resize;
            }
            &.point3 {
                bottom: -5px;
                right: -5px;
                cursor: nwse-resize;
            }
            &.point4 {
                bottom: -5px;
                left: -5px;
                cursor: nesw-resize;
            }
        }
    }
}



.gobtn {
    position: relative;
    margin: 100px 0 100px 100px;
    border: 2px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: bold 24px/1 arial;
    color: #ddd;
}

#test_result {
    position: relative;
    margin: 100px 0 100px 100px;
    width: 1000px;

    img {
        display: block;
        margin-bottom: 50px;
        width: auto;
    }

    canvas {
        display: block;
        margin-bottom: 50px;
    }
}


#img_original {
    display: block;
    margin: 100px;
    max-width: 500px;
    max-height: 500px;
}
